*{
    box-sizing: border-box;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;

}

form{
    padding: 20px;
}

.container{
    width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid gray;
    box-shadow: 0 4px 4px 3px rgb(54, 1, 1);
    border-radius: 20px;
    margin-top: 100px;
}

.title{
    text-align: center;
    margin-bottom: 20px;
}

.input-field{
    margin-bottom: 15px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

.btn-login{
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: #ffffff;
    font-weight: bold;
    border: 0px;
    border-radius: 30px;
    cursor: pointer;
}
.btn-login:hover{
    background-color: #a0a8b0;
}