body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    margin: 0px;
    padding: 50px;
}

.container{
    background-color:#ffffff;
    padding: 40px;
    box-shadow: 0 4px 10px rgb(89, 8, 8);
    border-radius: 10px;
    max-width: 800px;
   
    }

.title{

    font-size: 32px;
    font-weight: bold;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid #3498db;
    padding-bottom: 20px;
}

.content{
    
    font-size: 18px;
    color: #555;
    line-height: 1.8;
    letter-spacing: 2px;
    text-align: justify;
}

.content p{
    margin-bottom: 25px;
}